PORT=9090

READ_TIMEOUT=10
WRITE_TIMEOUT=10
MAX_HEADER_BYTES=1048576

LOG_LEVLE=INFO
LOG_DIR_PATH=./logs

OAUTH2_STATE_STRING=aris-ai-go-api

OAUTH2_GITHUB_CLIENT_ID=xxx
OAUTH2_GITHUB_CLIENT_SECRET=xxx

OAUTH2_GITHUB_REDIRECT_URL=http://localhost:8080/v1/oauth2/github/callback