PORT=8080

READ_TIMEOUT=10
WRITE_TIMEOUT=10
MAX_HEADER_BYTES=1048576

LOG_LEVLE=INFO
LOG_DIR=./logs

OAUTH2_STATE_STRING=xxx
OAUTH2_GITHUB_CLIENT_ID=xxx
OAUTH2_GITHUB_CLIENT_SECRET=xxx
OAUTH2_GITHUB_REDIRECT_URL=http://0.0.0.0:8080/v1/oauth2/github/callback

MYSQL_USER=aris
MYSQL_PASSWORD=xxx
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=aris

MEILISEARCH_HOST=meilisearch
MEILISEARCH_PORT=7700
MEILISEARCH_MASTER_KEY=xxx

JWT_TOKEN_EXPIRED=10000
JWT_TOKEN_SECRET=xxx